@import "../../../itcss/01-settings.scss";

.side-menu-base {
    color: $secondary;
    height: 100%;

    .avatar {
        display: grid;
        grid-template: 32px 32px / 56px 1fr;
        background-color: rgba($color: $tertiary, $alpha: 0.03);
        .icon {
            grid-column: 1;
            grid-row: 1 / span 2;

            i {
                font-size: $large;
            }
        }

        .name {
            grid-column: 2;
            grid-row: 1;
        }

        .status {
            grid-column: 2;
            grid-row: 2;
            
            font-size: $regular-flat;

            .green {
                font-size: $small;
                color: $success;
            }

            .red {
                font-size: $small;
                color: $error;
            }
        }

    }

    .menu-item, .logout {
        width: 100%;
        display:grid;
        grid-template: 56px 1fr / 56px 1fr 56px;
        cursor: pointer;

        &.active {
            border-left: 3px solid $primary;
        }

        &:hover {
            background-color: rgba($color: $tertiary, $alpha: 0.05);
        }

        .item-icon {
            justify-content: center;
        }

        .sub-menu {
            padding-left: 28px;
            grid-column: 1 / span 3;
            grid-row: 2;

            .menu-item{
                .item-text{
                    font-size: $regular-flat;
                }
            }
        }
    }
    .logout {
        background-color: rgba($color: $tertiary, $alpha: 0.03);
    }
}
