<div class="side-menu-base flex-column-start-stretch">
  <div class="avatar">
    <div class="icon flex-row-center-center"><i class="fas fa-user"></i></div>
    <div class="name flex-row-start-end">{{user.name}}</div>
    <div class="status flex-row-start-center" *ngIf="user.status"><i class="fas fa-circle green"></i>&nbsp;&nbsp;Online</div>
    <div class="status flex-row-start-center" *ngIf="!user.status"><i class="fas fa-circle red"></i>&nbsp;&nbsp;Offline</div>
  </div>
  <div class="menu-item" [class.active]="item.active" *ngFor="let item of sideMenu.menuItems; let i = index" (click)="menuItemClick(i)">
    <div class="item-icon flex-row-start-center"><i class="{{item.icon}}"></i></div>
    <div class="item-text flex-row-start-center">{{item.text}}</div>
    <div class="item-icon flex-row-start-center" *ngIf="item.subMenu.length > 0" (click)="toggleSubMenu($event, i)">
      <i class="fas fa-caret-down" *ngIf="!item.dropdown"></i>
      <i class="fas fa-caret-up" *ngIf="item.dropdown"></i>
    </div>
    <div class="sub-menu" *ngIf="item.dropdown">
      <div class="menu-item" *ngFor="let subMenu of item.subMenu; let j = index" (click)="subMenuClick($event, i, j)">
        <div class="item-icon flex-row-start-center"><i class="{{subMenu.icon}}"></i></div>
        <div class="item-text flex-row-start-center">{{subMenu.text}}</div>
      </div>
    </div>
  </div>
  <div class="flex-auto"></div>
  <div class="logout">
    <div class="item-icon flex-row-start-center"><i class="fas fa-sign-out-alt"></i></div>
    <div class="item-text flex-row-start-center">Logout</div>
  </div>
</div>