@import "../../../itcss/02-tools.scss";

.call-boxes {
    display: grid;
    grid-gap: 10px;
    @include custom_media((
        grid-template-rows: (1fr 1fr 1fr 1fr 1fr 1fr, 1fr, 1fr, 1fr, 1fr)
    ));
    @include custom_media((
        grid-template-columns: (
            1fr,
            repeat(auto-fit, minmax(160px, 1fr)),
            repeat(auto-fit, minmax(160px, 1fr)),
            repeat(auto-fit, minmax(160px, 1fr)),
            repeat(auto-fit, minmax(160px, 1fr))
        )
    ));
}

.call-box {
    width: 160px;
    height: 120px;

    .call-count {
        padding: 5px;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;

        .count {
            grid-column: 1 / span 2;
            grid-row: 1;
            line-height: 1em;
            z-index: 1;
        }

        .type {
            grid-column: 1 / span 2;
            grid-row: 2;
            line-height: 1px;
            z-index: 1;
        }

        .icon {
            grid-column: 2;
            grid-row: 1 / span 2;
            z-index: 0;
            i {
                font-size: $jumbo;
                color: rgba($color: $default, $alpha: 0.3)
            }
        }

        &:hover {
            .icon {
                i {
                    font-size: $jumbo-plus;
                }
            }
        }
    }

    .more-info {
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        background-color: rgba($color: $default, $alpha: 0.15);
        &:hover {
            background-color: rgba($color: $default, $alpha: 0.3);
        }
    }
}