@import "../../../itcss/01-settings.scss";

.base {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #fff;


    .padding {
        border-radius: 3px;
        border-top: 3px solid $success;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;

        agm-map {
            height: calc(100% - 4.5rem);
        }
    }
}
