@import "../../../itcss/01-settings.scss";

.base {
    height: 27px;
    background-color: $tertiary;
    padding: 15px;
    color: $default;
}

.developer {
    font-family: alegreya;
    font-size: $regular-sharp;
}