<div class="base flex-row-between-center">
  <div>
    <strong>&copy; Shuddhi</strong> | <strong>Developed By:</strong>&nbsp;<span class="developer">Coderaming</span>
  </div>
  <div>
    <strong>Version:</strong> 0.1.0
  </div>
</div>