@import "../../../itcss/01-settings.scss";

.header, .right {
    height: 56px;
    color: $secondary;
}

.menu-button {
    width: 56px;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: $secondary, $alpha: 0.1);
    }
}

.badge {
    font-size: $regular-flat;
    position: relative;
    top: -10px;
    background: $success;
    padding: 1px 4px 2px 4px;
    border-radius: 7px;
}

.user-profile {
    padding: 0px 10px 0px 10px;
    width: auto;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: none;
}


.menu-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: $secondary;
    margin: 6px 0;
}


.menu-change {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 6px);
        transform: rotate(-45deg) translate(-7px, 6px);
    }

    .bar2 {opacity: 0;}

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px);
        transform: rotate(45deg) translate(-6px, -6px);
    }
}