<h5>
    <i class="fas fa-phone"></i>&nbsp;&nbsp;Calls&nbsp;Details:
  </h5>
  <div class="call-boxes">
    <div class="call-box flex-column-start-stretch bg-color-success">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.total}}</h2>
        <h6 class="type">Total Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-warning">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.unassigned}}</h2>
        <h6 class="type">UnAssigned Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-error">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.pending}}</h2>
        <h6 class="type">Pending Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-success">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.todays}}</h2>
        <h6 class="type">Today's Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-warning">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.todaysCompleted}}</h2>
        <h6 class="type">Today's Completed Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-error">
      <div class="call-count flex-auto">
        <h2 class="count">{{callBox.totalCompleted}}</h2>
        <h6 class="type">Total Completed Calls</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
    <div class="call-box flex-column-start-stretch bg-color-error">
      <div class="call-count flex-auto">
        <h2 class="count">123</h2>
        <h6 class="type">None</h6>
        <div class="icon flex-row-center-center"><i class="fas fa-phone"></i></div>
      </div>
      <div class="more-info flex-row-center-center">
        More info&nbsp;<i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
  </div>
