@import "../../../itcss//01-settings.scss";

button[disabled] {
    color: $secondary;
}

span {
    padding: $small;
    margin: $smallest $smaller;
}

.pages {
    min-width: 267px;
}

.active {
    background-color: $primary;
    color: $secondary;
}