<app-card>
  <app-card-header>
    <div class="flex-row-between-center">
      <span class="title">
        Role List
      </span>
      <button (click)="navigation.navigateTo([navigation.router.url+'/add'])">
        <i class="fas fa-plus-square"></i>
        &nbsp;&nbsp;Add New
      </button>
    </div>
  </app-card-header>
  <app-card-content>
    <div class="panel">
      <app-table [table]="store.roleTable" [service]="service"></app-table>
    </div>
  </app-card-content>
  <app-card-footer>
  </app-card-footer>
</app-card>