<header class="header flex-row-between-stretch">
  <div class="menu-button flex-row-center-center" (click)="toggleMenu()">
    <!-- <i class="fas fa-bars"></i> -->
    <div class="menu-container" [class.menu-change]="sideMenu.menuOpen">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="right flex-row-between-stretch">
    <div class="menu-button flex-row-center-center"><i class="far fa-envelope"><span class="badge">{{header.mailCount}}</span></i></div>
    <div class="menu-button flex-row-center-center user-profile"><i class="fas fa-user"></i>&nbsp;&nbsp; {{user.name}}</div>
  </div>
</header>