<!--The content below is only a placeholder and can be replaced.-->
<div class="base-grid-container" [class.menu-open]="menuOpen" *ngIf="user.login">
  <div class="header grid-item">
    <app-header></app-header>
  </div>
  <div class="site-logo grid-item"></div>
  <div class="side-nav grid-item">
    <app-side-menu></app-side-menu>
  </div>
  <div class="content grid-item flex-column-between-stretch">
    <div class="router flex-auto">
      <app-page-name></app-page-name>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<div class="base flex-row-center-center" *ngIf="!user.login">
  <app-login></app-login>
</div>