<div class="flex-row-between-center">
  <div>
    Showing {{pagination.from}} to {{pagination.to}} of {{pagination.totalRecords}} entries
  </div>
  <div class="flex-row-start-center">
    <button class="btn-icon btn-invert" (click)="navigateTo(pagination.currentPage - 1)" [disabled]="pagination.currentPage === 1"><i
        class="fas fa-chevron-left"></i></button>
    <button class="btn-icon btn-invert" [class.active]="pagination.currentPage === 1" [disabled]="pagination.currentPage === 1"
      (click)="navigateTo(1)">1</button>
    <div [class.pages]="pagination.pages.length >= 9" class="flex-row-around-stretch">
      <span *ngIf="pagination.visiblePages[0] > 2"><i class="fas fa-ellipsis-h"></i></span>
      <button class="btn-icon btn-invert" *ngFor="let page of pagination.visiblePages" [class.active]="pagination.currentPage === page"
        [disabled]="pagination.currentPage === page" (click)="navigateTo(page)">{{page}}</button>
      <span *ngIf="pagination.visiblePages[pagination.visiblePages.length - 1] &lt; (pagination.totalPages - 1)"><i
          class="fas fa-ellipsis-h"></i></span>
    </div>
    <button class="btn-icon btn-invert" *ngIf="pagination.totalPages > 1" [class.active]="pagination.currentPage === pagination.totalPages"
      [disabled]="pagination.currentPage === pagination.totalPages" (click)="navigateTo(pagination.totalPages)">{{pagination.totalPages}}</button>
    <button class="btn-icon btn-invert" (click)="navigateTo(pagination.currentPage + 1)" [disabled]="pagination.currentPage === pagination.totalPages"><i
        class="fas fa-chevron-right"></i></button>
    <select (change)="changeRecordsPerPage($event)">
      <option *ngFor="let rpp of pagination.recordsPerPagesList" [value]="rpp" [selected]="pagination.recordsPerPage===rpp">{{rpp}}</option>
    </select>
  </div>
</div>