<app-card>
    <app-card-header>
      <div class="flex-row-between-center">
        <span class="title">
          Access Control
        </span>
      </div>
    </app-card-header>
    <app-card-content>
    </app-card-content>
    <app-card-footer>
    </app-card-footer>
  </app-card>