<app-card>
  <app-card-header>
    <div class="flex-row-between-center">
      <span class="title">
        Add a new Role
      </span>
      <button (click)="navigation.navigateTo([navigation.router.url.replace('/add','')])">
        <i class="fas fa-arrow-circle-left"></i>
        &nbsp;&nbsp;Back to Role List
      </button>
    </div>
  </app-card-header>
  <app-card-content>
    <div class="panel">
      <div class="form">
        <app-form [form]="form" (formSubmit)="onSubmit($event)"></app-form>
      </div>
    </div>
  </app-card-content>
  <app-card-footer>
  </app-card-footer>
</app-card>