@import "../../../../itcss/01-settings.scss";

.card-content {
    border-top: 3px solid $primary;
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: $regular;
}
