<div class="base flex-row-start-baseline">
  <span class="parent">{{pageName.main}}</span>
  <span class="child">{{pageName.submenu}}</span>
  <span class="flex-auto"></span>
  <span class="breadcrumb"></span>
</div>