<form *ngIf="form" class="flex-column-around-stretch" ngForm (submit)="formSubmit()">
  <div *ngFor="let input of form.inputs" [class.flex-column-around-stretch]="form.label==='top'"
    [class.flex-row-start-center]="form.label==='left'">
    <label *ngIf="input.label && input.control!=='checkbox'" for="{{input.name}}">{{input.label}}</label>
    <!-- input -->
    <input class="flex-auto" *ngIf="input.control==='input'" type="{{input.type}}" placeholder="{{input.placeholder}}"
      name="{{input.name}}" [(ngModel)]="input.value" [required]="input.required" />
    <!-- textarea -->
    <textarea class="flex-auto" *ngIf="input.control==='textarea'" placeholder="{{input.placeholder}}" name="{{input.name}}"
      rows="{{input.rows}}" [(ngModel)]="input.value" [required]="input.required"></textarea>
    <!-- checkbox -->
    <div *ngIf="input.control==='checkbox'">
      <label class="checkbox-container">
        <span>
          {{input.label}}
        </span>
        <input type="checkbox" name="{{input.name}}" value="{{input.value}}" [(ngModel)]="input.value" [required]="input.required">
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- checkbox group -->
    <div *ngIf="input.control==='checkbox-group'" class="checkbox-group flex-auto flex-row-around-center">
      <label *ngFor="let checkbox of input.checkboxes" class="checkbox-container">
        <span>
          {{checkbox.label}}
        </span>
        <input type="checkbox" name="{{checkbox.name}}" value="{{checkbox.value}}" [(ngModel)]="checkbox.value"
          [required]="checkbox.required">
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- select -->
    <select class="flex-auto" *ngIf="input.control==='dropdown'" name="{{input.name}}" [(ngModel)]="input.value"
      [required]="input.required">
      <option *ngFor="let option of input.options" [value]="option.value" [selected]="option.selected">{{option.displayValue}}</option>
    </select>
  </div>
  <button *ngIf="form.cancel" type="button">{{form.cancel}}</button>
  <button *ngIf="form.submit" type="submit">{{form.submit}}</button>



</form>