<div class="base flex-column-start-stretch">
  <p class="flex-row-center-center">Sign in to start your session</p>
  <form class="form-verticle flex-column-around-stretch" #loginForm="ngForm" (submit)="login(loginForm)">
    <input type="text" placeholder="User Name" name="userName" ngModel />
    <input type="password" placeholder="Password" name="password" ngModel />
    <div class="flex-row-between-stretch">
      <label class="checkbox-container">
        <span>
          Remember me
        </span>
        <input type="checkbox" name="remember" ngModel>
        <span class="checkmark"></span>
      </label>
      <button type="submit">Login</button>
    </div>
  </form>
</div>