@import "../itcss/02-tools.scss";

.base {
    width: 100vw;
    height: 100vh;
}

.base-grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;

    @include custom_media((
        grid-template: (
            56px 1fr / 56px 1fr,
            56px 1fr / 56px 1fr,
            56px 1fr / 56px 1fr,
            56px 1fr / 0px 1fr,
            56px 1fr / 0px 1fr
        )
    ));
    .header {
        background-color: $primary;
        grid-column: 2;
        grid-row: 1;
    }
    .site-logo {
        // background-color: #30759d;
        background-color: #3a7ba0;
        grid-column: 1;
        grid-row: 1;
    }
    .side-nav {
        background-color: $default;
        grid-column: 1;
        grid-row: 2;

        width: 56px;
    }
    .content {
        background-color: $secondary;
        grid-column: 2;
        grid-row: 2;
        overflow: auto;

        .router {
            padding: 10px;
        }
    }
}

.menu-open {
    @include custom_media((
        grid-template: (
            56px 1fr / 356px 1fr,
            56px 1fr / 356px 1fr,
            56px 1fr / 356px 1fr,
            56px 1fr / 356px 1fr,
            56px 1fr / 356px 1fr
        )
    ));

    .side-nav {
        width: 100%;
    }
}

.grid-item {
    overflow: hidden;
}