@import "../../../itcss/01-settings.scss";

.base {
    padding: 10px;
    .parent {
        font-size: $larger;
        padding-right: 10px;
    }
    .child{
        font-size: $regular-sharp;
        color: rgba($color: $default, $alpha: 0.4);
    }
}