<div class="table-operations">
  <button>Copy</button>
  <button>CSV</button>
  <button>Excel</button>
  <button>PDF</button>
  <button>Column Visibility</button>
</div>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>
          <label class="checkbox-container">
            <span>
            </span>
            <input type="checkbox" name="tbl" ngModel>
            <span class="checkmark"></span>
          </label>
        </th>
        <th><span>Action</span></th>
        <th *ngFor="let col of columns">
          <a *ngIf="col.sortable" href="#/masters/firm" (click)="sort(col.value)">
            <span>{{col.name}}</span>&nbsp;&nbsp;
            <i *ngIf="col.sort===column.SORT_NONE" class="fas fa-sort"></i>
            <i *ngIf="col.sort===column.SORT_ASC" class="fas fa-sort-up"></i>
            <i *ngIf="col.sort===column.SORT_DESC" class="fas fa-sort-down"></i>
          </a>
          <span *ngIf="!col.sortable">{{col.name}}</span>
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th *ngFor="let col of columns"><input *ngIf="col.filterable" type="text" placeholder="Search" [value]="col.filter"
            (keyup)="filter(col.value, $event)" /></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <td>
          <label class="checkbox-container">
            <span>
            </span>
            <input type="checkbox" name="tbl" [value]="data['id']" ngModel>
            <span class="checkmark"></span>
          </label>
        </td>
        <td><a href="#" (click)="edit($event, data.id)"><i class="fas fa-edit"></i>Edit Call</a><a href="#" (click)="callHistory($event, data.id)" *ngIf="pageName ==='Call Master'"><i class="fas fa-edit"></i>Call History</a></td>
        <td *ngFor="let col of columns">
          <span *ngIf="col.value!=='active'">
            {{data[col.value]}}
          </span>
          <span *ngIf="col.value==='active'">
            <i *ngIf="data.active" class="color-success fas fa-check"></i>
            <i *ngIf="!data.active" class="color-error fas fa-times"></i>
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
<div class="table-operations">
  <app-pagination [pagination]="pagination" [service]="service" ></app-pagination>
</div>
