// used with preprocessors and contain font, colors definitions, etc.

// Colors
$primary: #3c8dbc;
$secondary: #ecf0f5;
$tertiary: #d2d6de;
$accent: #000;
$default: #333333;

$success: #00a65a;
$warning: #f39c12;
$error: #dd4b39;

// Typography
$smallest: 0.2rem;
$smaller: 0.4rem;
$small: 0.8rem;
$regular-flat : 1.2rem;
$regular: 1.6rem;
$regular-sharp: 2.0rem;
$large: 2.4rem;
$larger: 3.2rem;
$half-jumbo: 4.0rem;
$jumbo: 4.8rem;
$jumbo-plus: 5.6rem;

// Breakpoints
$bp-desktop: all and (min-width:1200px);
$bp-tablet: all and (min-width: 960px) and (max-width: 1199px);
$bp-phablet: all and (min-width: 768px) and (max-width: 959px);
$bp-phone: all and (min-width: 480px) and (max-width: 767px);
$bp-small: all and (max-width: 479px);