// class-based selectors which define undecorated design patterns, for example media object known from OOCSS

@import "./04-elements.scss";

.flex-auto {
    flex: auto;
}

.flex-row-start-stretch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-start-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-row-start-baseline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-around-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.flex-row-around-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-row-between-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-start-stretch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-column-around-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.flex-column-between-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* The checkbox-container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: $small;
    cursor: pointer;
    font-size: $regular;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    height: 25px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #999;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: $secondary;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bg-color-success {
    background-color: $success;
}

.bg-color-warning {
    background-color: $warning;
}

.bg-color-error {
    background-color: $error;
}

.panel {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: $regular;
}

.btn-icon {
    margin: $smallest;
    min-width: 16px;
}

.btn-invert {
    background-color:$tertiary;
    color: $default;
}

.btn-xs {
    padding: $smaller;
}

.title {
    font-size: $large;
}

.bg-color-success {
    background-color: $success;
}

.color-success {
    color: $success;
}

.bg-color-warning {
    background-color: $warning;
}

.color-warning {
    color: $warning;
}

.bg-color-error {
    background-color: $error;
}

.color-error {
    color: $error;
}

.checkbox-group {
    border: 1px solid rgb(169,169,169);
    margin: $small;
}