/* You can add global styles to this file, and also import other style files */

// Fonts
@font-face {
    font-family: lato;
    src: url(../itcss/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: alegreya;
    src: url(../itcss/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

@import './05-objects.scss';